body {
  margin: 5% auto;
  background: #f2f2f2;
  color: #444444;
  font-family:
    -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  text-shadow: 0 1px 0 #ffffff;
  max-width: 73%;
}

code {
  background: white;
}

a {
  border-bottom: 1px solid #444444;
  color: #444444;
  text-decoration: none;
}

a:hover {
  border-bottom: 0;
}

.card {
  border: 1px solid #ddd;
  padding: 0.75rem 1rem;
}
